.dixon {
    background-color: blueviolet;
}

.droop {
    background-color: blueviolet;

}

.droops:hover {
    background-color: black;
}

.btns {
    background-color: blueviolet;
    color: white;
}

.btns:hover {
    background-color: black;
    color: white;
}

.main {
    height: 480px;

    border-radius: 30px;
}

.heading {
    color: blueviolet;
}

.icons {
    background-color: blueviolet;
    width: 50px;
    height: 50px;
    border-radius: 50px;

}

.icons:hover {
    background-color: black;
    color: white;
}

.icons {
    color: white;
}

.btnss {
    color: blueviolet;
    border: 1px solid blueviolet;
}

.btnss:hover {
    background-color: black;
    color: white;
}

.boxi {
    box-shadow: 5px 10px 4px;
    background-color: white;
    color: blueviolet;
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    right: 550px;
    top: 240px;
     font-weight: bold;

}

.main {
    position: relative;
}

.boxi1 {
    box-shadow: 5px 10px 4px;
    color: blueviolet;
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    right: 200px;
    top: 360px;
    background-color: white;
    font-weight: bold;
}

.boxi2 {
    box-shadow: 5px 10px 4px;
    border: 1px solid blueviolet;
    background-color: white;
    color: blueviolet;
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    right: 550px;
    bottom: 180px;
    font-weight: bold;
}

.boxi {
    animation: floatY 2s ease-in-out infinite;
}

@keyframes floatY {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(0);
    }
}

.boxi2 {
    animation: floatY 2s ease-in-out infinite;
}

@keyframes floatY {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(0);
    }
}

.boxi1 {
    animation: floatY 2s ease-in-out infinite;
}

@keyframes floatY {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(0);
    }
}
.first{
     background-image: url(./asstes/images.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px 0px;
}

@media screen and (max-width:576px) {

    .main {
        width: 300px;
        padding: 20px;
    }
     .boxi1{
        display: none;
    }
    .lead{
        text-align: center;
    }
    .how{
        align-items: center;
        justify-content: center;
    }
    .twit{
        align-items: center;
        justify-content: center;
    }
    .titlee{
        justify-content: center;
    }
    .zoo {
        width: 90% !important;
    }
    .slidim{
        height: 100px !important;
        width: 100px !important;
    }
    .top{
        margin-top: 1px !important;
        padding: 0px !important;
    }
    .hero-section{
        padding-top: 0px !important;
    }
   
    
   
}

@media screen and (min-width:577px) and (max-width:768px) {
    
 
     .boxi1{
        display: none;
    }
    .boxi{
        display: none;
    }
    .boxi2{
        display: none;
    }
    .lead{
        text-align: center;
        
    }
    .how{
        align-items: center;
        justify-content: center;
    }
    .main {
        padding: 20px;
}
.twit{
        align-items: center;
        justify-content: center;
    }
     .titlee{
        justify-content: center;
    }
    .top{
        margin-top: 1px !important;
        padding: 0px !important;
    }
    .hero-section{
        padding-top: 1px !important;
    }
}
@media screen and (min-width:769px) and (max-width:992px) {
    
     .boxi1{
        display: none;
    }
    .boxi{
        display: none;
    }
    .boxi2{
        display: none;
    }
    .lead{
        text-align: center;
    }
    .how{
        align-items: center;
        justify-content: center;
    }
    .main {
        padding: 20px;
}
.twit{
        align-items: center;
        justify-content: center;
    }
     .titlee{
        justify-content: center;
    }
.top{
        margin-top: 1px !important;
        padding: 0px !important;
    }
    .hero-section{
        padding-top: 0px !important;
    }
}
@media screen and (min-width:993px) and (max-width:1200px) {

  .boxi1{
        display: none;
    }
    .boxi{
        display: none;
    }
    .boxi2{
        display: none;
    }
    .lead{
        text-align: center;
    }
    .how{
        align-items: center;
        justify-content: center;
    }
    .main {
        padding: 20px;
}
.twit{
        align-items: center;
        justify-content: center;
    }
     .titlee{
        justify-content: center;
    }
}

.main{
     box-shadow: 15px 10px 10px;
}
.first1{
    background-image: url(./asstes/images.jpg);
    background-repeat: no-repeat;
    background-size: cover;
     filter: brightness(1.1);
     border-radius: 0px 0px 10px 10px;
}
.top{
    margin-top:50px;
    padding:20px 0px;
}
.about-section .line {
  display: inline-block;
  width: 80px;
  height: 3px;
  background:purple;
  margin-left: 10px;
  vertical-align: middle;
}

.profile-img {
  width: 260px;
  height: 260px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid blueviolet;
  padding: 5px;
}

.skill-card {
  background: #f7faff;
  border-radius: 12px;
  transition: 0.3s;
  border: 1px solid #e0e6f0;
}

.skill-card:hover span{
    color: white;
}

.skill-card:hover {
 border: 1px solid blueviolet;
 background-color: blueviolet;
  transform: translateY(-5px);
}
.skill-card:hover h5 {
color:white;
} 
.skill-card:hover p {
color:white !important;
} 
.skill-card:hover .icon{
    color: white;
}
.skill-card .icon {
  font-size: 32px;
  color:blueviolet;
}

.timeline {
  border-left: 3px solid blueviolet;
  padding-left: 15px;
}
.abo{
    color: blueviolet;
}
.abname{
    color: blueviolet;
}
.ab2019{
    color: blueviolet;
}
.ror{
    border: 1px solid blueviolet;
    border-radius: 10px;
    box-shadow: 10px 10px 20px black;
 
   
    
}
.proj .line2{
    display: inline-block;
  width: 80px;
  height: 3px;
  background:purple;
  margin-left: 10px;
  vertical-align: middle;

}
.proj{
    color: blueviolet;
}
.zoo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.ror:hover{
    transform: translateY(-10px) scale(1.03);
     box-shadow: 10px 10px 20px blueviolet;
 
}
.h22{
  text-align:center;
  padding: 20px;
  color: blueviolet;
}
/* Slider */

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
    height: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.mainn{
    margin-top: 40px;
}
.slidim{
    width: 160px;
    height: 160px;
}
.slider{
    padding: 30px 0px;
}
.line2{
    display: inline-block;
  width: 80px;
  height: 4px;
  background:purple;
  margin-left: 10px;
  vertical-align: middle;
}
.imhai{
background-image: url(./asstes/images.jpg);
    background-repeat: no-repeat;
    background-size: cover;
     filter: brightness(1.1);
     padding: 30px 0px;
     border-radius: 10px;
}
.Last{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
    background-image: url(./asstes/images.jpg);
    background-repeat: no-repeat;
    background-size: cover;
     filter: brightness(1.1);
     padding: 30px 0px;
     border-radius: 10px;
}

.last1{
    color: blueviolet;
    margin-top: 50px;
    
}
.last2{
    display: flex;
    gap: 10px;
    font-size: 25px;
    color: white;
}
.last3{
    background-color:white;
    width: 50px;
    height: 50px;
    border: 3px solid blueviolet;
    border-radius: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
  
}
.last3 a{
     color: black;
}
.last3:hover{
    background-color: blueviolet;
    border: 1px solid black;
     transform: scale(1.1); /* 150% zoom */
  transform-origin: center;
}
